body {
    background-color: rgb(241, 202, 156);
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: 3px double brown; 
}

nav button {
    font-size: 1.7rem;
    padding: 0.3rem;
    background-color: wheat;
    color: br;
    border: 2px ridge brown;
    border-radius: 10px 0px 10px 10px;
}

nav button:hover {
    cursor: pointer;
    border: 1px double brown;
    background-color: rgb(241, 213, 161);
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.naming {
    font-size: 2rem;
}

.homeImage {
    margin: 2rem 0;
    border: 2px ridge brown;

    width: 50%;
    height: 300px;
    background-image: url("../resources/homeImage2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.description1 {
    width: 65ch;
    font-size: 1.5rem;
}

.description2 {
    margin-top: 2rem;
    width: 65ch;
    font-size: 1.5rem;
}

.hoursSection {
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    border: 3px double brown;
    border-radius: 10px;
}

.hoursSection .hoursHeader {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hoursSection p {
    margin: 0;
    font-size: 1.3rem;
}