body {
    background-color: rgb(241, 202, 156);
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.naming {
    font-size: 2rem;
}

.homeImage {
    margin: 2rem 0;
    border: 2px ridge brown;

    width: 50%;
    height: 300px;
    background-image: url("../resources/homeImage2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.description1 {
    width: 65ch;
    font-size: 1.5rem;
}

.description2 {
    margin-top: 2rem;
    width: 65ch;
    font-size: 1.5rem;
}